# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
venv/
.venv/

# Jupyter
.ipynb_checkpoints/
*.ipynb

# Data files (usually too large for GitHub)
*.fastq
*.fastq.gz
*.bam
*.bam.bai
*.vcf
*.vcf.gz
*.bed
*.h5
*.h5ad
*.loom

# Logs and outputs
*.log
*.out
*.err
slurm-*.out

# OS
.DS_Store

data/recreate_colon/*.tsv
data/recreate_colon/*.mtx
data/recreate_colon/all.meta2.txt

data/recreate_kidney/*.txt.gz
data/recreate_kidney/*.xlsx
data/recreate_kidney/*.tar.gz

*.gz
*.tar
*.csv
*.pdf
*.html
*.rds
*.png
*.tar
*.pdf
*.csv

